[2017-02-13 12:38] burf2000 opened #1 "Wheels"
Hi there, do you still do ROS?  I am building a similar robot and I am stuck on 1 thing which I would absolutely love help with.

I am using Hector Slam which produces /odom etc for my lidar.  I have a URDF.  How do I link the wheel in the mode (mine is lwheel, yours is wheel_left) to the system as it always shows as an error in RVIZ?

[2017-02-13 15:11] grassjelly commented on #1
hi @burf2000 You can start a thread here https://groups.google.com/forum/#!forum/linorobot so the rest can see your question as well.

[2017-02-14 13:15] burf2000 commented on #1
Done, if someone can help me, I can pay in BEER, love or whatever!

[2017-02-28 07:31] grassjelly commented on #1
Closing this @burf2000 mate! Thanks!

[2017-02-28 07:31] #1 closed

[2017-07-15 06:53] jabrena opened #3 "Intel RealSense R200 support"
I read that you are thinking to use Intel RealSense R200 in your project. I thought that that depth camera is not possible to be installed. Do you know some way to run ln raspi3?
https://github.com/linorobot/linorobot/wiki/1.-Getting-Started

[2017-07-15 07:07] grassjelly commented on #3
I haven't really tried the R200 on an arm yet. No leads on how to make it work on Pi3 but I've seen this guy running on a Tx1 https://github.com/IntelRealSense/librealsense/issues/73#issuecomment-198649000 . Nonetheless, I'll still release it - for those who are using x86 laptops for their builds. ;)

[2017-07-15 07:13] jabrena commented on #3
Ok.

Many thanks.

[2017-07-15 07:13] #3 closed

[2017-07-17 22:26] jabrena opened #4 "Doubt about /tf"
Hi @grassjelly,

I write you because I have a doubt about your robots.
In what part do you define the relation between the base_frame with the laser_frame?
How to publish the tf topic and the transformation?

Maybe the question are a bit basic.

Many thanks in advance.

Juan Antonio

[2017-07-17 23:50] grassjelly commented on #4
You can define your laser's transform here: https://github.com/linorobot/linorobot/blob/master/launch/laser.launch#L6

It's also written in the Wiki. :P I recommend to please post questions on the forum and only post code related issues here. Thanks! https://groups.google.com/forum/#!forum/linorobot

[2017-07-20 12:43] grassjelly commented on #4
Closing this down. Feel free to post in the forum for further questions. Cheers!

[2017-07-20 12:43] #4 closed

[2017-07-31 12:15] grassjelly commented on #3
Just to follow up on this, I found this repository to install librealsense on Jetson boards. Not sure if this will work on a Pi, but might be worth the try. https://github.com/jetsonhacks/installLibrealsense/blob/master/arm.patch
https://www.youtube.com/watch?v=yGhfoxReUf4

[2017-10-17 01:47] aaravrav142 opened #6 "PID calibration for 4wd"
Hi,

I have finished making a heavy 4wd robot following the guide. The robot currently weighs over 20 kgs with 10 inch wheels. The build and installation of the code went flawless, no problems whatsoever and I thank you for this great opensource code. I am however clueless as to how to configure the PID values. The robot can run straight forward and backward but not able to turn at its place. I am

[2017-10-17 02:21] grassjelly commented on #6
Hi,

Can you post to the group https://groups.google.com/forum/#!forum/linorobot instead?

Thanks.

[2017-10-17 16:22] grassjelly commented on #6
Closing this since it’s not code related. Here’s the groups thread for reference: https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/linorobot/PfGbdzls2Yo/TFEtOQ7-AAAJ

[2017-10-17 16:22] #6 closed

[2017-10-29 12:13] zhangstar3 opened #7 "Hello,encoder problem"
hi,I have a question for a long time.Now i want to make a car with the mecanum wheel,and I have Arduino Mega2560,motor dirver...,enen,I cheak the Mega2560 have 6 pins for interrupts(2,3,18,19,20,21 pins).But we have 4 wheels,and can we use analog pin for the interrupts to count the encoders.pelase forgive my poor English，Looking forward to your reply！

[2017-10-30 16:01] grassjelly commented on #7
Hi can you post your questions here instead? https://groups.google.com/forum/#!forum/linorobot . Thanks!

[2017-11-01 06:48] grassjelly commented on #7
This has been posted in the project's forum. Closing this.

[2017-11-01 06:48] #7 closed

[2017-11-17 09:12] 12458 opened #8 "MPU6050 Support"
Any idea when MPU6050 support is going to be implemented?

[2017-11-17 13:31] grassjelly commented on #8
I’m planning to release MPU6050 support early next year. The release will include support for brushless motor ESCs as well . Currently busy working on another robot platform that includes MoveIt integration: https://github.com/grassjelly/onine . You may join our group to  get the recent updates. https://groups.google.com/forum/m/#!forum/linorobot . Thanks!

[2017-11-19 10:23] #8 closed

[2017-12-22 05:57] dandare1972 opened #9 "The tangential velocity for 2wd is doubled"
I have a 2WD platform on the caterpillar tracks. Angular velocity shows 2 times more.
It is possible that the radius is incorrectly specified when calculating the tangential velocity.

[2017-12-22 06:15] grassjelly commented on #9
Thanks for reporting the bug.

This has been resolved: https://github.com/linorobot/linorobot/commit/6c00dce0bbc637d8f64026d0eb9d0dea6b5efdac

Putting the thread's link here as well for reference: https://groups.google.com/forum/#!topic/linorobot/Jf2X4OHWAzY

[2017-12-22 06:15] #9 closed

[2018-03-10 11:54] MORP opened #10 "Compile Problems - Teensy 3.5/3.6"
When trying to compile and flash the Teensy firmware a number of errors pop-up when using Teensy 3.5 or 3.6 as target platforms. The reason is that the file "direct_pin_read.h", located in ... /src/linorobot/teensy/firmware/lib/encoder/utility only addresses Teensy 3.1 and 3.2 platforms. An easy fix is to replace line 4 by

#if defined(__AVR__) || defined(__MK20DX128__) || defined(__MK20DX256__) |

[2018-03-10 12:42] grassjelly commented on #10
Thanks for reporting the issue. Patched it and will include in the next merge (New IMU support). https://github.com/linorobot/linorobot/commit/5191cb9adc340b624c64b5fbae7f09287f4bfb0b

I'll leave this open for now.

[2018-03-17 04:32] grassjelly commented on #10
Patch has been merged to master. Closing this now.

[2018-03-17 04:32] #10 closed

[2018-03-20 09:47] hubery05 opened #13 "Could i use the frameware on arduino mega2560"
I am doing a mecanumbot ,can i use the teensy frameware on the arduino mega2560 ?

[2018-03-20 10:02] grassjelly commented on #13
Hi,

Can you post the question here: https://groups.google.com/forum/#!forum/linorobot .

Thanks!

[2018-03-20 10:04] grassjelly commented on #1
Posting the opened thread here: https://groups.google.com/forum/#!searchin/linorobot/hector%7Csort:date/linorobot/v3s6olorGIo/crnkGd7uCgAJ

[2018-03-20 10:07] grassjelly commented on #8
Just for the record, MPU6050 is now supported. Please check out Master branch.

[2018-04-01 23:58] grassjelly commented on #13
Closing this now. Refer to this thread, if there's any serialization error when using Arduino Mega 2560. https://groups.google.com/forum/#!topic/linorobot/MAbext2sQos

This has been patched on the installer to avoid similar problems:
https://github.com/linorobot/lino_install/commit/106b387c98b9d31386d437d0f8b5b9ade2eb841d

[2018-04-01 23:58] #13 closed

[2018-05-03 10:01] kf1375 opened #14 "Kinematic"
What is the x_rpm_ , y_rpm_ and tan_rpm_ in kinematic library? And how calculate motors RPM from these parameters?

[2018-05-03 16:23] MORP opened #15 "Unable to let motors turn backward"
It seems that one of the last patches has introduced an error into the Motor.cpp file. Currently (line 16 & 17)  sets "pinMode(motor_pinA_, OUTPUT);" twice. This hinders motor_pinB to be set correctly, which in turn prohibits backward driving. It should be (as it was in earlier versions) :

            pinMode(motor_pinA_, OUTPUT);
            pinMode(motor_pinB_, OUTPUT);

Cheers,

 Chris

[2018-05-03 17:22] #15 closed, assigned to nobody

[2018-05-03 17:35] #14 closed

[2018-05-30 18:08] droter opened #16 "Which version of Linux for Raspberry Pi 3"
Hi,

Do you recommend a specific version of Linux for Raspberry Pi 3?  (Ubuntu Core, Ubuntu Mate, etc)

Thanks,

Matt

[2018-09-30 00:22] amerkay opened #20 "/teensy code running directly on RPi3 with no Teensy module"
Hi, amazing work here.

Quick question, how can I run the /teensy/firmware code directly on a Raspberry Pi 3 with no Teensy module? Is there a port or method without modifiying so many files? I have both the IMU and servo/ESC controller attached to the I2C link directly on the board configured with ROS and Ubuntu.

My setup: ODROID XU4 with Shifter Shield for 3.3V pins, which makes the connectivit

[2018-09-30 01:38] grassjelly commented on #20
Hi,

As we use this more for bug tracking, you can post any non-code related issue/question in the forum instead. Cheers! :)

https://groups.google.com/forum/m/#!forum/linorobot

[2018-09-30 01:56] amerkay commented on #20
Oh. Thanks, didn't know about the forum. I just learnt about your work. Cheers :)

[2018-09-30 03:04] grassjelly commented on #20
thread link: https://groups.google.com/forum/#!topic/linorobot/2fUmBnzz9Ww

[2018-09-30 03:04] #20 closed

[2018-11-26 07:41] kf1375 opened #21 "Covariance matrix for odom"
How was it calculated? Is it possible to explain a little?
Thanks

[2018-11-28 00:13] grassjelly commented on #21
The variances found in the odometry code are purely assumptions tested on different encoders.

[2018-11-29 14:43] #21 closed

[2019-01-17 17:26] zhangcaocao opened #22 "The ESC can not work well because the pid error too large"
I have a Rc car , but when i make my teensy Output pwm wave ，my esc can not work, my motor is not runing. Then i find the reason of it that is the pid error too large!!

so I add blow code to make the pid error is not too large ! (PID.cpp)
[code]

[2019-03-21 03:54] datadrian opened #23 "Pinout for the xv11?"
Is there a pinout on where and how to attach the xv11 lidar? (jetson tx1) Is it connected to the teensy or the jetson gpio?

Also is there an easy way to configure both an xv11 and a kinect to work together?

Thank you, this is an amazing project!

- Adrian

[2019-03-21 04:11] grassjelly commented on #23
Hey Adrian,

Can you post your questions here instead as we use this mostly for bug tracking. https://groups.google.com/forum/#!forum/linorobot

Cheers! :)

[2019-03-21 04:23] datadrian commented on #23
my bad! please delete!

Adrian Stucker
513.341.LENS

On Wed, Mar 20, 2019 at 9:11 PM Juan Miguel Jimeno <notifications@github.com>
wrote:

[2019-03-24 09:23] grassjelly commented on #23
Closing this. Thread posted here for reference: https://groups.google.com/forum/#!topic/linorobot/DRcIVR6aPFw

[2019-03-24 09:23] #23 closed

[2019-04-20 06:26] karthikbalu opened #25 "Arduino compatibility"
Can Arduino uno be replaced with teensy board? is the code compatible?

Thanks

[2019-04-20 09:09] grassjelly commented on #25
Hi, it runs on Teensy by default. Unfortunately you need at least an Arduino Mega to run this. Please refer to the google groups if you have non issue/bug questions. :) Thanks!

[2019-04-20 09:18] karthikbalu commented on #25
Thanks a lot for the quick response, im really impressed with this project and going to continue building one :)

[2019-04-20 09:18] #25 closed

[2019-04-20 10:30] grassjelly opened #26 "Teensy LC doesn't respond on debug mode"
Just posting up the thread here in case someone bumps into the same problem.

https://groups.google.com/forum/#!topic/linorobot/4Sa-cQv7mCw

[2019-04-20 10:30] #26 closed

[2019-05-12 04:10] AllofLife commented on #22
你需要自己标定pid

[2019-05-12 17:35] gpmontt commented on #22
Hi everyone, @zhangcaocao have you tried to calibrate your PID? normally PWM value work beetween value between 1ms and 2ms  as a [servo](https://ebldc.com/?p=48)

maybe, you need to give the correct values in your PID instance.

[code]

[2019-05-24 01:21] zhangcaocao commented on #22
@AllofLife ，不是标定问题好吧，而是PID的error太大了，输入到电调中电机无法正常动作。

[2019-06-02 09:48] BiggyBaron opened #27 "Strange thing with Arduino MEGA"
Dear All,

When porting teensy firmware to Arduino MEGA, there is some magic bug happens.
I do not know why, but after PID controller compute function it can send 257 value to PWM when it goes to backward.

I fix it by hardcoding this dynamic PWM_MAX value in [config file](https://github.com/linorobot/linorobot/blob/master/teensy/firmware/lib/config/lino_base_config.h) by 255 and -255 in PWM_MAX a

[2019-06-02 10:41] grassjelly commented on #27
Hi Baron,

Thanks for the PR. As I intent the master branch to be hardware/platform agnostic,  can you send another PR as separate branch (something like)“arduinomega” instead. At least we can point Arduino Mega users to this useful resource until the issues highlighted are resolved and merged in the master branch which also works for all platform. Cheers!

[2019-06-06 09:49] #27 closed

[2019-06-26 12:33] qiwalker opened #30 "Jetson nano"
hi...

Can i use jetson nano for arm dev board

thanks
rizki

[2019-06-26 18:52] datadrian commented on #30
yes

Adrian Stucker
513.341.LENS

On Wed, Jun 26, 2019 at 5:33 AM qiwalker <notifications@github.com> wrote:

[2019-07-04 21:37] silvermind20 opened #31 "ROS Melodic (Ubuntu 18)"
Hi,
Would this work on ROS Melodic (Ubuntu 18)?

[2019-07-05 01:40] grassjelly commented on #31
The hardware drive shouldn’t have any problem. The installer would throw an error once it hit gmapping package though as it’s not released in Melodic yet. Alternatively, you can comment it out from the installer and build it from source.

[2019-07-05 01:41] grassjelly commented on #30
Thanks @datadrian for confirming. Closing this now

[2019-07-05 01:41] #30 closed

[2019-07-07 10:48] karthikbalu opened #32 "Ros 2 migration"
Any plan for ROS 2 Migration

I guess it’s not too complicated, pls correct me

Thanks

[2019-07-07 11:52] grassjelly commented on #32
Hi,

You can check out the initial efforts here. https://github.com/linorobot2/linorobot2.

[2019-07-07 12:28] karthikbalu commented on #32
Is it possible to test the migration at this stage now

Thanks & awesome work👍👍👍👍👏👏

[2019-07-07 13:38] grassjelly commented on #32
Sure, feel free to give it a try. :)

There's a few caveats though:
1. It's been a year and it wasn't properly documented as it was totally an experiment how the stack can be ported to ROS2.
2. The whole architecture might change in the future as this approach is using a stm32 uC. I'm planning to re-use the same hardware design as possible to make it easier for old users to port their systems to R

[2019-07-07 14:44] karthikbalu commented on #32
😎awesome I will give it a try, any reason stm32 was chosen instead of teensy, I thought I could give it a try with existing  teensy as both are Arduino compatible with some code changes if needed

Btw I have an extensive troubleshooting documentation for Linorobot with all the gaps filled while I built the robot,
 where can I post it? A new file with a pull request?

[2019-07-09 01:53] grassjelly commented on #32
Why STM32? Because the initial efforts on running XRCE w/ NuttX on a uC was implemented in STM32.

Replied your PR. Closing this for now :)

[2019-07-09 01:53] #32 closed

[2019-07-27 15:34] grassjelly commented on #31
Working Melodic installer here:
https://github.com/linorobot/lino_install/tree/melodic
https://travis-ci.org/linorobot/lino_install/builds/564405465

Few caveats:
1. Kinect Driver's not working
2. python-gudev 's not working

[2019-07-27 17:06] #22 closed

[2019-07-28 06:51] sdey76 commented on #31
Hi
On BTS7960 Motor controller two enable pins.
Do we need to externally give 5 volt. As the wiring has pwm ,ina inb pins in diagram.

[2019-07-31 02:00] grassjelly commented on #31
@sdey76 Hi, please post your questions here:
https://groups.google.com/forum/m/#!forum/linorobot .

[2019-08-06 09:12] karthikbalu commented on #31
I can confirm that we managed to run linorobot melodic on Jetson Nano with few glitches with udev rules and solved it

[2019-08-21 21:36] Razbotics opened #35 "Mecanum robot Y velocity issue"
The robot should move left when given positive Y velocity but instead it moves right and also other way around. Why velocity in Y is reversed.

[2019-08-22 05:09] grassjelly commented on #35
@Razbotics can you check if your mecanum wheels is in the same orientation as this? https://github.com/linorobot/lino_docs/raw/master/imgs/wiki/2-5.png

[2019-08-25 16:35] Razbotics commented on #35
Thanks for the info indeed it was reversed

[2019-08-25 16:35] #35 closed

[2019-08-26 20:17] ArghyaChatterjee opened #36 "Possible without encoders???"
Hello, can anyone suggest me if it is possible to run this robot without wheel encoders? We are using high torque gear motors and it's very difficult to place external encoders on wheels. Can't it calculate the value from the imu data only? If so what's the proccedure ?
Also, built in encoders are not availbale for the kind of motors that we are using. Any kind of suggestion is appreciated. TIA.

[2019-09-06 14:45] arminf82 commented on #31
Will everything work when I simply install the Kinect drivers on my own?

[2019-09-06 16:34] grassjelly commented on #31
@arminf82  Yes you can compile it from source

[2019-09-07 09:50] arminf82 opened #37 "Is it possible to connect the teensy via I2C?"
There is no documentation on how to connect the teensy to the basecontroller computer, so I assume the usual way is via USB.

Is it possible to connect the teensy via I2C with a raspberry?

[2019-09-07 12:56] grassjelly commented on #37
Hi,

Sorry i2c communication with the host computer is not supported

[2019-09-07 12:56] #37 closed

[2019-09-07 12:59] grassjelly commented on #36
Hi, can you post your question here instead? https://groups.google.com/forum/m/#!forum/linorobot

[2019-09-07 12:59] #36 closed

[2019-09-25 16:49] TCIII commented on #31
@grassjelly,

I am running Ubuntu Mate 18.0.4 and the ROS Melodic-base on a Rpi 3B+.

The gmapping package is available for ROS Melodic now and I have successfully installed it.

Your  https://github.com/linorobot/lino_install/tree/melodic link is broken as I get a "does not exist" message when running sudo git clone https://github.com/linorobot/lino_install/tree/melodic or am I doing something wr

[2019-09-25 17:17] grassjelly commented on #31
Hi you should change the branch to melodic and not directly clone the link:

git clone https://github.com/linorobot/lino_install
cd lino_install
git checkout melodic

Once done, you can run the installer.

Hope this helps.

[2019-09-25 18:53] TCIII commented on #31
@grassjelly,

Thanks for the suggestion, much appreciated.

Any suggestions concerning installing python-gudev on Ubuntu Mate 18.0.4? I am new at Python/Linux Programming and would appreciate any help.

[2019-09-26 19:31] TCIII commented on #31
Hi All,

I have attempted to install Linorobot on Ubuntu Mate/ROS Melodic on my Rpi 3B+ using the Melodic branch of lino_install.

The install runs fine until it gets to "[ 46%] Building CXX object lino_pid/CMakeFiles/pid_listen.dir/src/pid_listen.cpp.o" at which time this message appeared "c++: internal compiler error: Killed (program cc1plus)".

The build then continued to the [50%] point at whi

[2019-09-26 21:52] TCIII commented on #31
@grassjelly,

I would say that the Ubuntu Mate/ROS Melodic combination might not be doable at the moment.
I say this because even though the ROS gmapping package is available for Melodic, there presently is no source for building and installing python-gudev for ROS Melodic.

I therefore would appreciate it if you could direct me to a source for a bootable image of Ubuntu 16.04 for the Rpi 3B+ if a

[2019-11-19 07:00] zhuwei opened #38 "4WD and Mecanum drive wiring"
Hi, guys.
Do you have to use 4 L298N for 4WD and Mecanum drive wiring?

[2019-11-19 07:11] STMBenke commented on #38
No,I think you can use two l298's to control it, because it has two output controls.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"kerr"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月19日(星期二) 下午3:00
收件人:&nbsp;"linorobot/linorobot"<linorobot@noreply.github.com&gt;;
抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
主题:&nbsp;[linorobot/linorobot] 4WD and Mecanum drive wir

[2019-11-19 07:22] zhuwei commented on #38
Thank you for your answer.

[2019-11-19 07:22] #38 closed

[2019-12-11 07:15] imeshsps commented on #31
@TCIII python-gudev is used to assign names to serial ports right ? I commented it out from installer file and used [this](https://askubuntu.com/questions/905115/assigning-name-to-usb-device/906206) guide to add names manually. So far i got ROS serial working fine. Hope this helps someone.

[2019-12-13 16:12] zhuwei opened #39 "Motor's rpm and pwm value"
The rpm range is 0-330, but the PWM range is 0-255. Is that right? why?
[code]

[2019-12-16 01:47] zhuwei commented on #22
我觉得跟pid没关系啊。
源码直接把rpm写入pwm了。
问题是pwm是8位，最大也就255，但rpm不一定，有可能600。
我觉得应该按比例转换成pwm，而不是把rpm当做pwm。
搞不清楚作者为什么这么做。

[2019-12-16 01:48] zhuwei commented on #22
@zhangcaocao @AllofLife 大佬，能不能加个联系方式。PID整定不会，能不能指导一下。

[2019-12-16 03:20] AllofLife commented on #22
wechat r15297833965

[2019-12-23 15:41] Dejw4g opened #40 "Ackermann with 4ED"
Hi,

is it possible to configure it for a 4 wheel drive with Ackermann steering on front wheels?

if not - what is the best "workaround" - switch off rear wheels motors when steering?

[2020-02-04 04:39] grassjelly commented on #39
It’s because of the PID which has no idea of the min and max RPM range. It continuously increase/decrease the PWM value depending how big the error between the target RPM and current RPM from the encoders. I’ll close this for now. For non bug issues please post it in the forum.

[2020-02-04 04:39] #39 closed

[2020-02-04 04:40] grassjelly commented on #40
Yes! Please check this library how it is implemented. https://github.com/linorobot/linorobot/blob/master/teensy/firmware/lib/kinematics/Kinematics.cpp

Closing this for now.

[2020-02-04 04:40] #40 closed

[2020-02-07 16:34] Geekgineer commented on #31
#### The solution for udev rules is to build python-gudev from source
[code]
This will install the python-gudev to your sytem so **lino_udev.py** can  ``` import gudev```
_tested on Ubuntu 18.04.3_

[2020-02-09 15:41] Valentinkvn commented on #31
@Geekgineer,

Hi, I also use Ubuntu 18.04.3 installed on a Nvidia Jetson Nano.
I followed your set of instructions but at the `./autogen.sh` command, I received the following error.

[code]

[2020-03-21 17:26] quicktwit commented on #31
Try this:
`sudo apt-get install libgudev-1.0-dev`

[2020-04-24 12:41] Valentinkvn opened #41 "Scanse Sweep compatibility"
Hi,

I'm using linorobot with Jetson Nano (Ubuntu 18.04), Arduino Mega and Sweep Lidar.
I configured the linobase module and the minimal.launch is working fine.

In order to be able to use Sweep Lidar I added it's package into the linorobot directory and catkin_make it. After that, I changed the linorobot launch files to run the sweep lidar launch file.
When I launch the bringup.launch file, I rec

[2020-04-27 14:20] grassjelly commented on #41
Hi,
Can you share your launch files please? Thanks

[2020-05-04 22:48] Valentinkvn commented on #41
Hi,

Sorry for late response. I configured the environment as you said but the error still occurs.
These are the launch files.

**../linorobot/launch/include/laser.launch**
[code]

**../linorobot/launch/include/lidar/sweep.launch** (here I added the conversion between pc2 and laserscan)
[code]

[2020-05-05 00:52] grassjelly commented on #41
Your launch files looks good. Just omit the pointcloud_to_laserscan.

Also make sure that sweep publishes that data in "laser" frame. Otherwise, you have to rename "laser" in static_transform_publisher to the correct frame the LIDAR is using.

[2020-05-20 07:56] Valentinkvn commented on #41
The problem was not the lidar itself, it worked well, but the udev rules that i've manually created. I observed that each time when I plugged in a new lino device (LiDAR / Arduino Mega) each device was bound on the same ttyUSB* port.

So, I followed the https://github.com/linorobot/linorobot/issues/31#issuecomment-602075774 instructions to configure the libgudev on my ubuntu 18.04, and after the p

[2020-05-20 07:56] #41 closed

[2020-06-09 02:52] leon-sui opened #42 "where is teensy/firmware servo.h"
I couldn't find servo.h , which holds the steering gear control documents for the Ackerman steering type chassis

[2020-06-14 21:33] bekirbostanci opened #43 "pid to pwm"
Hi
I caught my attention while browsing through scripts. You input rpm type value in pid and send the output value directly to the motor as pwm. how did covert this? I didn't understand.

[2020-06-15 11:17] grassjelly commented on #43
It’s because the PID’s output will keep changing the value (motor PWM input) based on the error in the encoder until it reaches the target RPM. You can convert it to PWM value by using the CALCULATED_RPM / MAX_RPM * 255 but the behaviour will be the same.

[2020-06-15 11:55] bekirbostanci commented on #43
thank you for answer.

[2020-06-15 12:00] #43 closed

[2020-06-15 13:25] grassjelly commented on #42
servo.h is an arduino built-in library. have you tried:
`pio lib update`

[2020-06-26 11:36] chopsuey5000 commented on #31
Just in case, I've installed Linorobot in Raspberry Pi 3B with Ubuntu Mate 18.04. These are the steps i made:

**Install ubuntu mate 18.04** - https://ubuntu-mate.org/download/armhf/

After the installation:
[code]

**Install ros melodic**
[code]

**Create a ROS workspace** - http://wiki.ros.org/ROS/Tutorials/InstallingandConfiguringROSEnvironment
[code]

**Linorobot Installation**
[code]

uDev Ru

[2020-07-09 15:18] zoldaten opened #44 "From teenzy to Arduino Mega2560-tutorial"
how to move from teenzy 3.1/3.2 to arduino mega2560 ?

[2020-07-09 15:19] zoldaten commented on #44
Just want to post a tutorial how to use Arduino Mega2560 instead Teenzy 3.1/3.2.
This tutorial is my own collection of headache while compiling code with platformio )
So everything works for date 07.2020 by this tutorial.

1. find your board first with udev:
**rosrun lino_udev lino_udev.py**
    connect arduino
    save udev
**sudo cp 58-lino.rules /etc/udev/rules.d/58-lino.rules
reboot**

2.Chang

[2020-07-09 15:19] #44 closed

[2020-07-11 11:59] qiwalker opened #45 "control lino robot using andoid"
hi,
is there any app for android to control lino robot using ROS ?

thanks

[2020-07-12 08:40] zoldaten commented on #42
platformio lib -g install Servo

[2020-07-12 08:45] zoldaten opened #46 "from 2WD to 4WD"
I have installed linorobot by 2WD kinect. It works perfect.
Now trying to move to 4WD Mecanum lidar.

How to do that without reinstall ?

[2020-08-02 05:10] wilvn10 commented on #45
Check out **ROS Voice Message** on Android Playstore

[2020-08-03 07:21] Symeth opened #47 "ROS melodic lino_udev not found"
hi
please help
i already follow the instruction to use Lino robot with ROS melodic
when i type roslaunc lino_udev lino_udev.py
then lino_udev not found

thanks

[2020-08-03 09:22] Symeth commented on #47
after make new installation everything work
thanks

[2020-08-03 09:22] #47 closed

[2020-08-03 09:23] Symeth commented on #45
hi
thanks for your information

[2020-08-03 09:40] kristfrizh opened #48 "Couldn't find linobase"
Hello
I'm quite new in ROS and having problem with the tutorial I follow in linorobot and cannot find any issues like this

I have follow all the order from the wiki but I cannot continue for calibrating the IMU.
i have succed run the UDEV rules from https://github.com/linorobot/linorobot/issues/31.
when i use
$ ls/ dev/ linobase
it appears with a green word

after uploading firmware and run rosla

[2020-08-04 07:10] kristfrizh commented on #48
I have found that you must configure your platformio.ini for teensy 4.0.
you should change it too :

[env:teensy40]
platform = teensy
framework = arduino
board = teensy40

upload_protocol = teensy-gui
upload_port = /dev/linobase

[2020-08-04 07:10] #48 closed

[2020-09-11 15:27] Russ76 opened #49 "Will Linorobot work with "Teach and Repeat"?"
Have you tried the (non-akkerman) linorobot with github.com/norlab-ulaval/husky-trainer?

I could only get it to work about 10 seconds before crashing on my ROS machine

[2020-09-29 12:17] madgrizzle opened #50 "Use of integers with getRPM causes issues with robots with large wheels."
The robot I built uses a 10-inch wheel (with a 12-inch wheel base) and I was having problems with getting the robot to achieve an accurate orientation.  With a goal tolerance of 5 degrees, I was getting about +/-10 degrees.  While digging into the problem, I discovered that because of the size of the wheel, the RPM required to home in on an orientation of about less than 5 degrees would require an

[2020-09-29 16:52] grassjelly commented on #50
Hi,

Thanks for highlighting this error. The reason is that I took precedence from most motor RPM specs which are usually expressed in integer and with the assumption that anything in between a single RPM value is negligible (ie For control, the PID will handle and velocity calculation wise, EKF can do the corrections). As with your specs,  a hypothetical motor spinning at 1 RPM (12in wheel) will

[2020-09-29 16:53] grassjelly commented on #49
Hi Russ, this should technically work with teach and repeat. As long as the topics from both packages are mapped correctly.

[2020-09-29 16:54] grassjelly commented on #45
Closing this as this is more of a ROS Question issue. Thanks

[2020-09-29 16:54] #45 closed

[2020-09-29 16:55] grassjelly commented on #42
Hi @leon-sui did zoldaten's answer work?

[2020-09-29 17:33] madgrizzle commented on #50
Yeah, I agree that you don't need much precision with RPM and it worked well enough to move around.. its just trying to get that high level of precision for orientation (wheels moving in opposite direction) that the float is needed.

I'm not entirely sure I can do a PR with what I have because I've made a lot of other changes to the software to accommodate my specific setup, but I'll take a look (

[2020-10-05 13:20] grassjelly commented on #50
Thanks @madgrizzle  I'll include this in the next update.

[2020-10-05 13:20] #50 closed

[2020-10-21 12:28] Snyp54 commented on #44
Hi, can you have a solution for ftdi plug into mega 2560 pro mini?
When i run  rosrun lino_udev lino_udev.py ftdi & lidar detected but when i reboot after  sudo cp 58-lino.rules /etc/udev/rules.d/58-lino.rules, the ftdi it's nor recognized.

[2020-10-24 03:44] sonphambk opened #51 "Move robot multi point"
Hi. Thanks for your tutorial.
I want multiple point on map and repeat this points.
I don't know how can do that?
Can you help me? Thanks you.

[2020-11-03 08:52] JamesFlosse opened #52 "How use TEENSY 4.1 with linorobot"
Hi, i plan to use teensy 4.1 on your linorobot project.
Can you give me the processus to use it?
Best regards

[2020-11-29 08:43] ngadt12 commented on #31
git clone https://github.com/linorobot/lino_install
cd lino_install
git checkout melodic
then:
cd lino_install
catkin_make
cd ~/linorobot_ws/
./install 2wd rplidar
source devel/setup.bash

[2020-12-17 09:56] tossapon14 opened #53 "lino_msgs i can not use lino_msgs in cpp"
ros error  lino_msgs/Imu.h: No such file or directory
compilation terminated.
ros doesn't know lino_msgs header file
but Arduino ok.
Cmakelist, where i have to add library lino_msgs header file .
thy.

[2020-12-24 01:00] IAseven opened #54 "On my car, when the speed is set to be less than 0.0157m/s, the car does not respond."
I am not a native English speaker，Please forgive my poor English.
Hello, thank you very much for providing such excellent software. I have successfully run your firmware on my own robot, but I found a little problem in my test. I am not sure if it is a bug, here Ask your advice:
My robot is a two-wheeled differential steering tracked vehicle with a wheel diameter of 0.3m. In my test, I found that

[2021-01-02 02:36] Russ76 opened #55 "Intel RealSense R200 not available"
Will the code work with the Intel D435 depth camera? The other is out-of-date.

[2021-01-12 19:36] pitosalas opened #56 "E: Unable to locate package python-gudev"
I am installing on Ubuntu 20.04. I've successfully installed ROS noetic. When attempting:

`./install 2wd ydlidar
`
I see this:

[code]

I know that I am not the only one to see this but lots of googling hasn't solved it for me yet. So I have some questions:

1) Does the Linorobot software package depend on/support just python2, or python3, or either one?
2) Is there a known incompatibility with U

[2021-01-16 02:11] IAseven opened #57 "Angular velocity bug"
For 2WD platform, when calculating the angular velocity is half of the actual value.
In the kinematics file, the getvel function is calculated incorrectly, the code is as follows:
` vel.angular_z =  (average_rps_a * wheel_circumference_) / ((wheels_x_distance_ / 2) + (wheels_y_distance_ / 2));`
Here, 4WD and 2WD are calculated separately.

[2021-01-19 15:35] grassjelly commented on #57
Hi there, the wheels_x_distance_ is set to 0 on 2wd
`    wheels_x_distance_(base_platform == DIFFERENTIAL_DRIVE ? 0 : wheels_x_distance),
`
https://github.com/linorobot/linorobot/blob/master/teensy/firmware/lib/kinematics/Kinematics.cpp#L35

and rpm3 and rpm4 are 0s as it is assumed to have no encoder readings

[2021-01-19 15:39] grassjelly commented on #56
Hi Pito,

1. All python scripts were developed on python2. I haven't tested on 3 yet but should be pretty straight forward to fix backward incompatibilities.
2. I haven't tried this on Noetic yet but I believe some users managed to install this successfully on Noetic.

You can check out this snippet to make python-gudev work on 18.04 above.
https://github.com/chvmp/champ_install/blob/master/instal

[2021-01-19 15:40] grassjelly commented on #55
Hey Russ,

Although not supported, D435 should work as long as topics matches the current real sense launch files.

[2021-01-19 15:43] grassjelly commented on #54
Hi @IAseven . This thread might help you https://github.com/linorobot/linorobot/issues/50. ). The returned rpm count is returned as integer so anything on that velocity range would be considered negligible (~0)

[2021-01-19 16:40] pitosalas commented on #56
Thanks. I dropped down to using the Ubiquity Robotics pi image and that solved my problem. I figured I might be able to solve this one problem but there would be others waiting so I might as well go to a more mainstream setup!

Thank you for a great set of packages!

Pito Salas
Faculty, Computer Science
Brandeis University

[2021-01-24 15:35] pitosalas commented on #56
By the way, you mean both motors, right, not just one?

Its hard to tell whether they are right or wrong because as soon as I do what you suggested and tried to make it go slow 0.2 it immediately goes into the rapid back and forth behavior.

Pito Salas
Faculty, Computer Science
Brandeis University

[2021-01-26 06:51] #57 closed

[2021-01-26 06:52] IAseven commented on #57
thanks for you.

[2021-01-26 21:26] pitosalas opened #59 "Status of this project?"
Hi @grassjelly -- what a wonderful project this is. I am having a great time with it. I was wondering whether it is still actively maintained or whether  you have moved to other things. It would help me understand whether I want to build my stuff around it. Thanks!

[2021-01-30 16:28] Russ76 commented on #55
I've got most of it installed but get an error with Platformio.
~/linorobot_ws/src/linorobot/teensy/firmware$ platformio ci --project-conf=./platformio.ini --lib="./lib/ros_lib" --lib="./lib/config"  --lib="./lib/motor"  --lib="./lib/kinematics"  --lib="./lib/pid"  --lib="./lib/imu" --lib="./lib/encoder"
Error: Python 3.6 or later is required for this operation.
Please check a migration guide:
htt

[2021-01-30 19:26] Russ76 commented on #55
Got it mostly installed but this error comes up:

~/linorobot_ws/src/linorobot/teensy/firmware$ platformio ci --project-conf=./platformio.ini --lib="./lib/ros_lib" --lib="./lib/config"  --lib="./lib/motor"  --lib="./lib/kinematics"  --lib="./lib/pid"  --lib="./lib/imu" --lib="./lib/encoder"
Error: Python 3.6 or later is required for this operation.
Please check a migration guide:
https://docs.plat

[2021-01-31 05:25] Russ76 commented on #52
James, the Teensy 4.1 will probably work fine, just be sure to consult a spec chart about the connections to the board, and go by name, not by position number on the board. I'm having trouble now using my Teensy 3.2 because Platformio finds the older Python version loaded earlier in installation, and refuses to run.

[2021-01-31 22:09] pitosalas commented on #59
I am thinking that the lack of response means that @grassjelly is no longer actively engaged? Is there another official maintainer?

[2021-01-31 22:11] pitosalas opened #60 "ydlidar package is out of date"
At least from my personal experience. The version of the ydlidar package that is included in the linorobot is out of date and doesn't work correctly. I was able to solve my problem my using the current package: https://github.com/YDLIDAR/ydlidar_ros. It is called ydlidar-ros while linorobot refers to it as just ydlidar so some renaming was necessary as well.

[2021-02-01 01:51] IAseven commented on #59
@pitosalas As far as I know, the author currently focuses on the quadruped robot project, link: https://github.com/chvmp

[2021-02-01 01:53] IAseven commented on #60
@pitosalas If your radar is rplidar, it is recommended that you use the latest ros driver package: https://github.com/YDLIDAR/ydlidar_ros_driver

[2021-02-01 02:01] #54 closed

[2021-02-01 02:13] Russ76 commented on #52
https://www.pjrc.com/store/teensy41.html
This site has lots of info about it. It is a lot more powerful than the 3.2 but still has PMW output pins. Some of Juan's code for the Teensy is elaborate (machine language) and may not work in a chip so different.

[2021-02-01 02:19] Russ76 commented on #59
@pitosalas If you build with nearly the same thing as in these lists, it should still work. There might be some small issues. The Python version 2.7 is not supported by Platformio now, and I'm trying to work around that. I'm also using ROS Melodic. I'd say, Dive In! Juan still does answer issues here but in his time.

[2021-02-01 02:20] Russ76 commented on #60
Thanks for this info, I'm also using Ydlidar, and making a machine right now.

[2021-02-01 20:31] pitosalas commented on #59
Ok. So there's no active maintenance just the occasional response from @grassjelly . I will try a pull request and see what happens!

[2021-02-01 20:31] #59 closed

[2021-02-01 20:31] #60 closed

[2021-02-02 01:53] IAseven commented on #56
@pitosalas Can you describe your problem in detail?

[2021-02-02 01:57] IAseven commented on #53
@tossapon14 you can do it:
`cd ~<your_ws>/src`
`git clone https://github.com/linorobot/lino_msgs`
`cd ..`
`catkin_make`

[2021-02-02 01:58] pitosalas commented on #56
I since wrote up a very detailed post on how I troubleshot the problem: https://groups.google.com/g/linorobot/c/egaPyuaEyns

It was some combination of (zero or more) 1) one motor driving reverse, 2) one encoder being backwards and the 3) IMU being mounted in the wrong orientation. In the end I don't know which of those was the culprit but my writeup above took me through a methodical troubleshoot

[2021-02-03 15:28] Russ76 opened #61 "Platformio requires python 3.6 or newer"
This issue is difficult. To install the Teensy code requires ROS routines (which use Python 2.7) but Platformio won't work with that old version. I made a custom version of Ubuntu 18.04 on a micro SD card (for my Raspberry Pi 4) and removed Python 2.7 (which removed most of ROS Melodic) and then Platformio installed well. But to compile and transfer code to Teensy, it requires many ROS items for t

[2021-02-13 12:40] pitosalas commented on #61
I had this problem and got this response on the platformio issues list: https://github.com/platformio/platformio-docs/issues/176

[2021-02-13 17:12] Russ76 commented on #61
Thanks for that! I'll take a close look at it and see if it works.

[2021-02-13 17:15] #61 closed

[2021-03-17 03:10] mukmalone opened #62 "firmware not finding lino_msgs/Velocities.h"
Hi,
I have this error `/home/michael/catkin_ws/src/linorobot/teensy/firmware/src/firmware/firmware.ino:12:34: fatal error: lino_msgs/Velocities.h: No such file or directory`

I've cloned the package `lino_msgs` into my catkin workspace and was able to successfully to catkin_make with no errors.

Let me know if you have any clues as to what I might have missed.
Thank you,
Michael

[2021-03-19 03:23] mukmalone commented on #62
Non-issue.  Wasn't following correct steps.

[2021-03-19 03:23] #62 closed

[2021-05-06 00:22] FrGe2016 opened #63 "Big wheel low RPM speed calculation problem"
Hi

I have a robot rotating at a max of 25 RPM with 250 mm wheels. The encoders are are directly on the wheel shaft and have a low resolution of 20 tick per turns.

I am at the very beginning of my pre-operational  testing. The speed loop behavior is strange.

The calculated linear velocity at start around is 1.75 m/s  ( when the max speed for a 0.25 m wheel at 25 rpm is 0.33 m/s ) ???

The contro

[2021-05-12 14:19] arunbalaji47 opened #64 "laser inflation during angular moment"

[2021-06-01 18:19] suryachereddy commented on #52
Did anyone test Teensy 4.1?

[2021-06-02 07:54] suryachereddy opened #66 "How do I change mapping of SDA and SCL pins for IMU?"
I want to change from SDA to SDA1

[2021-06-05 10:34] #66 closed

[2021-06-08 13:09] ARLunan opened #67 "ROS Noetic (Ubuntu 20)"
Anybody ported this stack to Noetic? Ubuntu 20.04 Server LTS is released for Raspberry Pi 4b/4Gb, which I successfully installed.I checked the ROS dependencies, and believe they are are released to Debian. As a test, I successfully installed all the ROS dependencies on my Ubuntu 20.04 Dev Machine. Significant issue could be the exclusive use of Python3 in Noetic, but fortunately all the Linobot co

[2021-06-11 18:00] ARLunan commented on #67
Gudev and python3 issues already answered by https://github.com/mukmalone hello_robot#15. Successfully deployed python3, complied ROS dependancies and scripts, installed on Raspberry Pi/4B/4gb Ubuntu 20.04 Server Noetic for 2wd and xv11 (which must also be complied from source (https://github.com/rohbotics/xv_11_laser_driver) as described by http://wiki.ros.org/xv_11_laser_driver

[2021-06-11 18:00] #67 closed

[2021-06-15 22:07] pitosalas opened #68 "ModuleNotFoundError: No module named 'glib'"
Hi! It looks like you are in the middle of doing the same thing that I am, but two weeks ahead or so. I am trying to use the Linorobot stack on a Raspberry Pi 3+ running Ubuntu 20.02 server. (I know you are not on ubuntu but let's plow on.) I've solved many of the problems caused by the Python 3 requirement but I am a little stuck on the error above:

[code]

Do you know what the solution is? Than

[2021-06-27 00:15] casakontar commented on #52
I did and it was a nightmare. I adapted the libraries amd completely gave up on platformio. I used arduino ide.

[2021-08-19 05:38] andrewrgross opened #69 "Install script doesn't complete and gives "Python 3.6 or greater required" error"
During installation on a Jetson Nano running Ubuntu 18.4, the install script gave this error. Collectively, a group of us worked around it by editing the install script to remove lines that seemed to cause the problem that weren't relevant to our project.

[2021-08-19 05:42] andrewrgross commented on #69
Here is our edited install file:

[code]

[2021-08-19 05:42] #69 closed

[2021-08-22 15:12] NickNair commented on #68
Have you tired importing it like this ?
[code]

[2021-08-27 15:36] philmurp opened #70 "Using IMU BNO055 Sensor"
Hello,

Anyone use the BNO055 IMU instead of any on the tutorial listing for compatible sensors?

I have read this sensor is much more accurate and less noise than the MPU6050 I have.

I am not advanced with the base coding with Linorobot so if it involves a complete reconstruction of some of the code then I could fall in line with the MPU6050 but thought I would ask the group.

Thanks!

[2021-09-16 06:49] Mrezagolbaba opened #71 "gazebo model for linorobot"
In the gazebo, I would like to simulate Linorobo. Is there any gazebo model that uses lasers and Kinect for Linorobot simulations?

[2021-11-19 03:23] raidhu opened #72 "Is it possible to use 1 pwm and 1 dir driven driver in linorobot"
I'm using driver controlled by 1pwm and 1 dir model is it possible to run in linorobot

[2021-11-27 10:54] ArunbAk opened #73 "Changing Frequency of PWM Signal"
Hi everyone,

I am connected to a motor drive which run in Step mode. I am giving signals to the drive through PWM pin from Teensy , drive also receiving pulse but I need to give at Higher Frequency to run the motor from the drive.

How to change the Frequency of the PWM Signal from the Teensy??
Where to change??

I tried by changing the **COMMAND_RATE** in **firmware.ino** but nothing great!!!

T

[2021-11-29 05:22] raidhu commented on #46
update teensy code and create new workspace

[2021-11-30 06:48] raidhu commented on #64
i have the same issue did u fix it

[2022-01-30 14:19] JamesFlosse commented on #52
@casakontar can you please share your modify version please?

[2022-03-24 12:45] AhmedEmadEldinHussin opened #74 "rplidar a3"

[2022-03-24 12:50] AhmedEmadEldinHussin opened #75 "motor driver Model X motor drive module"
I Purchase OSOYOO chassis mecanum wheel for testing I tried to install linorobot on it
I have successfully built lino project for ROS Noetic :+1:
the IMU is working fine but both motor and its driver "motor driver Model X motor drive module " and RPLIDAR a3 are not working for it

[2022-04-22 21:11] pitosalas opened #76 "Rebuild Inst.h from Inst.msg so that platformio sees it"
I have linorobot installed and working on my robot. I would like to add a new message type (Inst.msg) to give the firmware some additional instrumention messages.

1. I've added Inst.msg in lino_msgs/msg alongside Imu.msg, PID.msg etc.

2. I've added the include to firmware.ino: `#include "lino_msgs/Inst.h"`

3. I've performed: `catkin_make --pkg lino_msgs`

But when I do the platformio run --targ

[2022-06-03 03:45] scploeger opened #77 "linorobot comparability with teensy LC"
Hi,
I am wondering if anybody has tried building linorobot with a teensy lc instead of a 3.2. it looks like the majority of the pins are common between the two and I think the core functionality which linorobot uses is the same. Interested to hear what you think,
thanks

[2022-08-26 08:38] knnurl commented on #69
You guys are amazing, thank you.